{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
      {% include "layout/breadcrumb.html" %}
      <div class="container-fluid">
            <div class="row">

                  {% include "forms-table/table/data-table/datatable-basic/components/zero-configuration.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/feature.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/default.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/multi-column.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/multiple-tables.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/hidden-columns.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/complex-headers.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/dom-positioning.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/flexible-table.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/state-saving.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/alternative.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/scroll-vertical.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/scroll-vertical-dynamic.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/scroll.html" %}
                  {% include "forms-table/table/data-table/datatable-basic/components/language.html" %}

            </div>
      </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}