{% load static %}
{% load sass_tags %}

<div class="col-xl-6 xl-100 box-col-12">
  <div class="card">
    <div class="card-header">
      <h5>PRODUCTS CART</h5>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li><i class="fa fa-spin fa-cog"></i></li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <div class="user-status table-responsive">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th scope="col">Details</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="f-w-600">Simply dummy text of the printing</td>
              <td>1</td>
              <td class="font-primary">Pending</td>
              <td>
                <div class="span badge rounded-pill pill-badge-secondary">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">Long established</td>
              <td>5</td>
              <td class="font-secondary">Cancle</td>
              <td>
                <div class="span badge rounded-pill pill-badge-success">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">sometimes by accident</td>
              <td>10</td>
              <td class="font-secondary">Cancle</td>
              <td>
                <div class="span badge rounded-pill pill-badge-warning">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">Classical Latin literature</td>
              <td>9</td>
              <td class="font-primary">Return</td>
              <td>
                <div class="span badge rounded-pill pill-badge-primary">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">keep the site on the Internet</td>
              <td>8</td>
              <td class="font-primary">Pending</td>
              <td>
                <div class="span badge rounded-pill pill-badge-danger">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">Molestiae consequatur</td>
              <td>3</td>
              <td class="font-secondary">Cancle</td>
              <td>
                <div class="span badge rounded-pill pill-badge-info">6523</div>
              </td>
            </tr>
            <tr>
              <td class="f-w-600">Pain can procure</td>
              <td>8</td>
              <td class="font-primary">Return</td>
              <td>
                <div class="span badge rounded-pill pill-badge-primary">6523</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="example-head1">&lt;!-- Cod Box Copy begin --&gt;
&lt;div class=&quot;user-status table-responsive&quot;&gt;
  &lt;table class=&quot;table table-bordernone&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;col&quot;&gt;Details&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Quantity&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Status&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Price&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td&gt;Simply dummy text of the printing&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;1&lt;/td&gt;
        &lt;td class=&quot;font-primary&quot;&gt;Pending&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-secondary&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Long established&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;5&lt;/td&gt;
        &lt;td class=&quot;font-secondary&quot;&gt;cancle&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-success&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;sometimes by accident&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;10&lt;/td&gt;
        &lt;td class=&quot;font-secondary&quot;&gt;cancle&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-warning&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Classical Latin literature&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;9&lt;/td&gt;
        &lt;td class=&quot;font-primary&quot;&gt;Return&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-primary&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;keep the site on the Internet&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;8&lt;/td&gt;
        &lt;td class=&quot;font-primary&quot;&gt;Pending&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-danger&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Molestiae consequatur&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;3&lt;/td&gt;
        &lt;td class=&quot;font-secondary&quot;&gt;cancle&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-info&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td&gt;Pain can procure&lt;/td&gt;
        &lt;td class=&quot;digits&quot;&gt;8&lt;/td&gt;
        &lt;td class=&quot;font-primary&quot;&gt;Return&lt;/td&gt;
        &lt;td class=&quot;span badge badge-pill pill-badge-primary&quot;&gt;6523&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
      </div>
    </div>
  </div>
</div>