{% load static %} {% load sass_tags %}

<div class="col-xl-6 xl-100 box-col-12">
  <div class="card">
    <div class="card-header">
      <h5>EMPLOYEE STATUS</h5>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li><i class="fa fa-spin fa-cog"></i></li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body employee-table">
      <div class="user-status table-responsive">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Designation</th>
              <th scope="col">Skill Level</th>
              <th scope="col">Experience</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bd-t-none u-s-tb">
                <div class="align-middle image-sm-size">
                  <img
                    class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/4.jpg'%}"
                    alt=""
                  />
                  <div class="d-inline-block">
                    <h6>
                      John Deo <span class="text-muted">(14+ Online)</span>
                    </h6>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 30%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>2 Year</td>
            </tr>
            <tr>
              <td class="bd-t-none u-s-tb">
                <div
                  class="align-middle image-sm-size d-flex align-items-center"
                >
                  <img
                    class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/1.jpg'%}"
                    alt=""
                  />
                  <div class="d-inline-block">
                    <h6>
                      Holio Mako <span class="text-muted">(250+ Online)</span>
                    </h6>
                  </div>
                </div>
              </td>
              <td>Developer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px">
                    <div
                      class="progress-bar bg-secondary"
                      role="progressbar"
                      style="width: 70%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>3 Year</td>
            </tr>
            <tr>
              <td class="bd-t-none u-s-tb">
                <div class="align-middle image-sm-size">
                  <img
                    class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/5.jpg'%}"
                    alt=""
                  />
                  <div class="d-inline-block">
                    <h6>
                      Mohsib lara<span class="text-muted">(99+ Online)</span>
                    </h6>
                  </div>
                </div>
              </td>
              <td>Tester</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 60%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>5 Month</td>
            </tr>
            <tr>
              <td class="bd-t-none u-s-tb">
                <div class="align-middle image-sm-size">
                  <img
                    class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/6.jpg'%}"
                    alt=""
                  />
                  <div class="d-inline-block">
                    <h6>
                      Hileri Soli <span class="text-muted">(150+ Online)</span>
                    </h6>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px">
                    <div
                      class="progress-bar bg-secondary"
                      role="progressbar"
                      style="width: 30%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>3 Month</td>
            </tr>
            <tr>
              <td class="bd-t-none u-s-tb">
                <div class="align-middle image-sm-size">
                  <img
                    class="img-radius align-top m-r-15 rounded-circle"
                    src="{% static 'assets/images/user/7.jpg'%}"
                    alt=""
                  />
                  <div class="d-inline-block">
                    <h6>
                      Pusiz bia <span class="text-muted">(14+ Online)</span>
                    </h6>
                  </div>
                </div>
              </td>
              <td>Designer</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress" style="height: 8px">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </td>
              <td>5 Year</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="code-box-copy">
        <button
          class="code-box-copy__btn btn-clipboard"
          data-clipboard-target="#example-head2"
          title="Copy"
        >
          <i class="icofont icofont-copy-alt"></i>
        </button>
        <pre><code class="language-html" id="example-head2">&lt;!-- Cod Box Copy begin --&gt;
&lt;div class=&quot;user-status table-responsive&quot;&gt;
  &lt;table class=&quot;table table-bordernone&quot;&gt;
    &lt;thead&gt;
      &lt;tr&gt;
        &lt;th scope=&quot;col&quot;&gt;Name&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Designation&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Skill Level&lt;/th&gt;
        &lt;th scope=&quot;col&quot;&gt;Experience&lt;/th&gt;
      &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
      &lt;tr&gt;
        &lt;td class=&quot;bd-t-none u-s-tb&quot;&gt;
          &lt;div class=&quot;align-middle image-sm-size&quot;&gt;
            &lt;img src=&quot;../assets/images/user/4.jpg&quot; atl=&quot;user&quot; class=&quot;img-radius align-top m-r-15 rounded-circle&quot;&gt;
            &lt;div class=&quot;d-inline-block&quot;&gt;&gt;
              &lt;h6&gt;John Deo &lt;span class=&quot;text-muted digits&quot;&gt;(14+ Online)&lt;/span&gt;&lt;/h6&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;progress-showcase&quot;&gt;
            &lt;div class=&quot;progress&quot; style=&quot;height:8px;&quot;&gt;
              &lt;div class=&quot;progress-bar bg-primary&quot; role=&quot;progressbar&quot; style=&quot;width: 30%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;class=&quot;digits&quot;&gt;2 Year&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;bd-t-none u-s-tb&quot;&gt;
          &lt;div class=&quot;align-middle image-sm-size&quot;&gt;
            &lt;img src=&quot;../assets/images/user/1.jpg&quot; atl=&quot;user&quot; class=&quot;img-radius align-top m-r-15 rounded-circle&quot;&gt;
            &lt;div class=&quot;d-inline-block&quot;&gt;&gt;
              &lt;h6&gt;Holio Mako &lt;span class=&quot;text-muted digits&quot;&gt;(250+ Online)&lt;/span&gt;&lt;/h6&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Developer&lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;progress-showcase&quot;&gt;
            &lt;div class=&quot;progress&quot; style=&quot;height:8px;&quot;&gt;
              &lt;div class=&quot;progress-bar bg-secondary&quot; role=&quot;progressbar&quot; style=&quot;width: 70%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;class=&quot;digits&quot;&gt;3 Year&lt;td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;bd-t-none u-s-tb&quot;&gt;
          &lt;div class=&quot;align-middle image-sm-size&quot;&gt;
            &lt;img src=&quot;../assets/images/user/5.jpg&quot; atl=&quot;user&quot; class=&quot;img-radius align-top m-r-15 rounded-circle&quot;&gt;
            &lt;div class=&quot;d-inline-block&quot;&gt;&gt;
              &lt;h6&gt;Mohsib lara&lt;span class=&quot;text-muted digits&quot;&gt;(99+ Online)&lt;/span&gt;&lt;/h6&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Tester&lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;progress-showcase&quot;&gt;
            &lt;div class=&quot;progress&quot; style=&quot;height:8px;&quot;&gt;
              &lt;div class=&quot;progress-bar bg-primary&quot; role=&quot;progressbar&quot; style=&quot;width: 60%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;class=&quot;digits&quot;&gt;5 Month&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;bd-t-none u-s-tb&quot;&gt;
          &lt;div class=&quot;align-middle image-sm-size&quot;&gt;
            &lt;img src=&quot;../assets/images/user/6.jpg&quot; atl=&quot;user&quot; class=&quot;img-radius align-top m-r-15 rounded-circle&quot;&gt;
            &lt;div class=&quot;d-inline-block&quot;&gt;&gt;
              &lt;h6&gt;Hileri Soli &lt;span class=&quot;text-muted digits&quot;&gt;(150+ Online)&lt;/span&gt;&lt;/h6&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;progress-showcase&quot;&gt;
            &lt;div class=&quot;progress&quot; style=&quot;height:8px;&quot;&gt;
              &lt;div class=&quot;progress-bar bg-secondary&quot; role=&quot;progressbar&quot; style=&quot;width: 30%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;class=&quot;digits&quot;&gt;3 Month&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td class=&quot;bd-t-none u-s-tb&quot;&gt;
          &lt;div class=&quot;align-middle image-sm-size&quot;&gt;
            &lt;img src=&quot;../assets/images/user/7.jpg&quot; atl=&quot;user&quot; class=&quot;img-radius align-top m-r-15 rounded-circle&quot;&gt;
            &lt;div class=&quot;d-inline-block&quot;&gt;&gt;
              &lt;h6&gt;Pusiz bia &lt;span class=&quot;text-muted digits&quot;&gt;(14+ Online)&lt;/span&gt;&lt;/h6&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;Designer&lt;/td&gt;
        &lt;td&gt;
          &lt;div class=&quot;progress-showcase&quot;&gt;
            &lt;div class=&quot;progress&quot; style=&quot;height:8px;&quot;&gt;
              &lt;div class=&quot;progress-bar bg-primary&quot; role=&quot;progressbar&quot; style=&quot;width: 90%&quot; aria-valuenow=&quot;50&quot; aria-valuemin=&quot;0&quot; aria-valuemax=&quot;100&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/td&gt;
        &lt;td&gt;class=&quot;digits&quot;&gt;5 Year&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/tbody&gt;
  &lt;/table&gt;
&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
      </div>
    </div>
  </div>
</div>
