{% load static %}
{% load sass_tags %}

<div class="col-xl-4 col-lg-12 box-col-12">
  <div>
    <div class="card">
      <div class="card-header">
        <h5 class="text-uppercase">Recent Activity</h5>
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li><i class="fa fa-spin fa-cog"></i></li>
            <li><i class="view-html fa fa-code"></i></li>
            <li><i class="icofont icofont-maximize full-card"></i></li>
            <li><i class="icofont icofont-minus minimize-card"></i></li>
            <li><i class="icofont icofont-refresh reload-card"></i></li>
            <li><i class="icofont icofont-error close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <ul class="crm-activity">
          <li class="media"><span class="me-3 font-primary">A</span>
            <div class="align-self-center media-body">
              <h6 class="mt-0">Any desktop publishing packages and web page editors.</h6>
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago</li>
              </ul>
            </div>
          </li>
          <li class="media"><span class="me-3 font-secondary">C</span>
            <div class="align-self-center media-body">
              <h6 class="mt-0">Contrary to popular belief, Lorem Ipsum is not simply. </h6>
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago </li>
              </ul>
            </div>
          </li>
          <li class="media"><span class="me-3 font-primary">E</span>
            <div class="align-self-center media-body">
              <h6 class="mt-0">Established fact that a reader will be distracted </h6>
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago</li>
              </ul>
            </div>
          </li>
          <li class="media"><span class="me-3 font-secondary">H</span>
            <div class="align-self-center media-body">
              <h6 class="mt-0">H-Code - A premium portfolio template from ThemeZaa </h6>
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago </li>
              </ul>
            </div>
          </li>
          <li class="media"><span class="me-3 font-primary">T</span>
            <div class="align-self-center media-body">
              <h6 class="mt-0">There isn't anything embarrassing hidden.</h6>
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago</li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="align-self-center media-body">
              <ul class="dates">
                <li>25 July 2017</li>
                <li>20 hours ago</li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="code-box-copy">
          <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head" title="Copy"><i
              class="icofont icofont-copy-alt"></i></button>
          <pre><code class="language-html" id="example-head">&lt;!-- Cod Box Copy begin --&gt;
&lt;ul class=&quot;crm-activity&quot;&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;span class=&quot;me-3 font-primary&quot;&gt;A&lt;/span&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;h6 class=&quot;mt-0&quot;&gt;Any desktop publishing packages and web page editors.&lt;/h6&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;span class=&quot;me-3 font-secondary&quot;&gt;C&lt;/span&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;h6 class=&quot;mt-0&quot;&gt;Contrary to popular belief, Lorem Ipsum is not simply.&lt;/h6&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;span class=&quot;me-3 font-primary&quot;&gt;E&lt;/span&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;h6 class=&quot;mt-0&quot;&gt;Established fact that a reader will be distracted&lt;/h6&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;span class=&quot;me-3 font-secondary&quot;&gt;H&lt;/span&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;h6 class=&quot;mt-0&quot;&gt;H-Code - A premium portfolio template from ThemeZaa&lt;/h6&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;span class=&quot;me-3 font-primary&quot;&gt;T&lt;/span&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;h6 class=&quot;mt-0&quot;&gt;There isn't anything embarrassing hidden.&lt;/h6&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class=&quot;media&quot;&gt;
    &lt;div class=&quot;align-self-center media-body&quot;&gt;
      &lt;ul class=&quot;dates&quot;&gt;
        &lt;li class=&quot;digits&quot;&gt;25 July 2017&lt;/li&gt;
        &lt;li class=&quot;digits&quot;&gt;20 hours ago&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>