{% load static %}
{% load sass_tags %}
<div class="col-xl-4 xl-50 notification box-col-6">
  <div class="card">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">notification</h5>
        <div class="card-header-right-icon">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Today</button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a class="dropdown-item"
                href="#">Today</a><a class="dropdown-item" href="#">Tomorrow</a><a class="dropdown-item"
                href="#">Yesterday </a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="media">
        <div class="media-body">
          <p>20-04-2020 <span>10:10</span></p>
          <h6>Updated Product<span class="dot-notification"></span></h6><span>Quisque a consequat ante sit amet
            magna...</span>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <p>20-04-2020<span class="ps-1">Today</span><span class="badge badge-secondary">New</span></p>
          <h6>Tello just like your product<span class="dot-notification"></span></h6><span>Quisque a consequat ante sit
            amet magna... </span>
        </div>
      </div>
      <div class="media">
        <div class="media-body">
          <div class="d-flex mb-3">
            <div class="inner-img"><img class="img-fluid" src="{% static 'assets/images/notification/1.jpg'%}"
                alt="Product-1"></div>
            <div class="inner-img"><img class="img-fluid" src="{% static 'assets/images/notification/2.jpg'%}"
                alt="Product-2"></div>
          </div><span class="mt-3">Quisque a consequat ante sit amet magna...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 xl-50 appointment box-col-6">
  <div class="card">
    <div class="card-header">
      <div class="header-top">
        <h5 class="m-0">Market Value</h5>
        <div class="card-header-right-icon">
          <div class="dropdown">
            <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Year</button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a class="dropdown-item"
                href="#">Year</a><a class="dropdown-item" href="#">Month</a><a class="dropdown-item" href="#">Day</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-Body">
      <div class="radar-chart">
        <div id="marketchart"> </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 xl-100 chat-sec box-col-6">
  <div class="card chat-default">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Live Chat</h5>
        </div>
        <div class="icon-box"><i class="fa fa-ellipsis-h"></i></div>
      </div>
    </div>
    <div class="card-body chat-box">
      <div class="chat">
        <div class="media left-side-chat">
          <div class="media-body d-flex">
            <div class="img-profile"> <img class="img-fluid" src="{% static 'assets/images/user.jpg'%}" alt="Profile">
            </div>
            <div class="main-chat">
              <div class="message-main"><span class="mb-0">Hi deo, Please send me link.</span></div>
              <div class="sub-message message-main"><span class="mb-0">Right Now</span></div>
            </div>
          </div>
          <p class="f-w-400">7:28 PM</p>
        </div>
        <div class="media right-side-chat">
          <p class="f-w-400">7:28 PM</p>
          <div class="media-body text-end">
            <div class="message-main pull-right"><span class="mb-0 text-start">How can do for you</span>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="media left-side-chat">
          <div class="media-body d-flex">
            <div class="img-profile"> <img class="img-fluid" src="{% static 'assets/images/user.jpg'%}" alt="Profile">
            </div>
            <div class="main-chat">
              <div class="sub-message message-main mt-0"><span>It's argently</span></div>
            </div>
          </div>
          <p class="f-w-400">7:28 PM</p>
        </div>
        <div class="media right-side-chat">
          <div class="media-body text-end">
            <div class="message-main pull-right"><span class="loader-span mb-0 text-start" id="wave"><span
                  class="dot"></span><span class="dot"></span><span class="dot"></span></span></div>
          </div>
        </div>
        <div class="input-group">
          <input class="form-control" id="mail" type="text" placeholder="Type Your Message..." name="text">
          <div class="send-msg"><i data-feather="send"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12 xl-50 calendar-sec box-col-6">
  <div class="card gradient-primary o-hidden">
    <div class="card-body">
      <div class="setting-dot">
        <div class="setting-bg-primary date-picker-setting position-set pull-right">
          <div class="icon-box">
            <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
      </div>
      <div class="default-datepicker">
        <div class="datepicker-here" data-language="en"></div>
      </div><span class="default-dots-stay overview-dots full-width-dots"><span class="dots-group"><span
            class="dots dots1"></span><span class="dots dots2 dot-small"></span><span
            class="dots dots3 dot-small"></span><span class="dots dots4 dot-medium"></span><span
            class="dots dots5 dot-small"></span><span class="dots dots6 dot-small"></span><span
            class="dots dots7 dot-small-semi"></span><span class="dots dots8 dot-small-semi"></span><span
            class="dots dots9 dot-small"> </span></span></span>
    </div>
  </div>
</div>
</div>