{% load static %}
{% load sass_tags %}

<div class="col-xl-12">
  <div class="card">
    <div class="card-body">
      <div class="best-seller-table responsive-tbl">
        <div class="item">
          <div class="table-responsive product-list">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th class="f-22">
                    Best Seller</th>
                  <th>Date</th>
                  <th>Product</th>
                  <th>Country</th>
                  <th>Total</th>
                  <th class="text-end">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-40 m-r-15 rounded-circle align-top"
                        src="{% static 'assets/images/avtar/7.jpg'%}" alt="">
                      <div class="status-circle bg-primary"></div>
                      <div class="d-inline-block"><span>John keter</span>
                        <p class="font-roboto">2019</p>
                      </div>
                    </div>
                  </td>
                  <td>06 August</td>
                  <td>CAP</td>
                  <td><i class="flag-icon flag-icon-gb"></i></td>
                  <td> <span class="label">$5,08,652</span></td>
                  <td class="text-end"><i class="fa fa-check-circle"></i>Done</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-40 m-r-15 rounded-circle align-top"
                        src="{% static 'assets/images/avtar/4.jpg'%}" alt="">
                      <div class="status-circle bg-primary"></div>
                      <div class="d-inline-block"><span>Herry Venter</span>
                        <p class="font-roboto">2020</p>
                      </div>
                    </div>
                  </td>
                  <td>21 March</td>
                  <td>Branded Shoes</td>
                  <td><i class="flag-icon flag-icon-us"></i></td>
                  <td> <span class="label">$59,105</span></td>
                  <td class="text-end"><i class="fa fa-check-circle"></i>Pending</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-40 m-r-15 rounded-circle align-top"
                        src="{% static 'assets/images/avtar/16.jpg'%}" alt="">
                      <div class="status-circle bg-primary"></div>
                      <div class="d-inline-block"><span>loain deo</span>
                        <p class="font-roboto">2020</p>
                      </div>
                    </div>
                  </td>
                  <td>09 March</td>
                  <td>Headphone</td>
                  <td><i class="flag-icon flag-icon-za"></i></td>
                  <td> <span class="label">$10,155</span></td>
                  <td class="text-end"><i class="fa fa-check-circle"></i>Success</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-40 m-r-15 rounded-circle align-top"
                        src="{% static 'assets/images/avtar/11.jpg'%}" alt="">
                      <div class="status-circle bg-primary"></div>
                      <div class="d-inline-block"><span>Horen Hors</span>
                        <p class="font-roboto">2020</p>
                      </div>
                    </div>
                  </td>
                  <td>14 February</td>
                  <td>Cell Phone</td>
                  <td><i class="flag-icon flag-icon-at"></i></td>
                  <td> <span class="label">$90,568</span></td>
                  <td class="text-end"> <i class="fa fa-check-circle"></i>In process</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img class="img-40 m-r-15 rounded-circle align-top"
                        src="{% static 'assets/images/avtar/3.jpg'%}" alt="">
                      <div class="status-circle bg-primary"></div>
                      <div class="d-inline-block"><span>fenter Jessy</span>
                        <p class="font-roboto">2021</p>
                      </div>
                    </div>
                  </td>
                  <td>12 January</td>
                  <td>Earings</td>
                  <td><i class="flag-icon flag-icon-br"></i></td>
                  <td> <span class="label">$10,652</span></td>
                  <td class="text-end"><i class="fa fa-check-circle"></i>Pending</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
  var map;
  function initMap() {
    map = new google.maps.Map(
      document.getElementById('map'),
      { center: new google.maps.LatLng(-33.91700, 151.233), zoom: 18 });

    var iconBase =
      'static/assets/images/dashboard-2/';

    var icons = {
      userbig: {
        icon: iconBase + '1.png'
      },
      library: {
        icon: iconBase + '3.png'
      },
      info: {
        icon: iconBase + '2.png'
      }
    };

    var features = [
      {
        position: new google.maps.LatLng(-33.91752, 151.23270),
        type: 'info'
      }, {
        position: new google.maps.LatLng(-33.91700, 151.23280),
        type: 'userbig'
      }, {
        position: new google.maps.LatLng(-33.91727341958453, 151.23348314155578),
        type: 'library'
      }
    ];

    // Create markers.
    for (var i = 0; i < features.length; i++) {
      var marker = new google.maps.Marker({
        position: features[i].position,
        icon: icons[features[i].type].icon,
        map: map
      });
    };
  }
</script>
<script async="" defer=""
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGCQvcXUsXwCdYArPXo72dLZ31WS3WQRw&amp;callback=initMap"></script>
</div>
</div>