{% load static %}
{% load sass_tags %}

<div class="col-xl-9 xl-100 box-col-12">
  <div class="row">
    <div class="col-xl-12">
      <div class="card offer-box">
        <div class="card-body p-0">
          <div class="offer-slider">
            <div class="carousel slide" id="carouselExampleCaptions" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="selling-slide row">
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="left-content">
                          <p>Much More Selling product</p>
                          <h4 class="f-w-600">Best Selling Product</h4><span class="badge badge-white rounded-pill">78%
                            offer</span><span class="badge badge-dotted rounded-pill ms-2">Coupon Code : 12345</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                      <div class="center-img"><img class="img-fluid"
                          src="{% static 'assets/images/dashboard-2/offer-shoes-3.png'%}" alt="..."></div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="right-content">
                          <p>Money back Guarrantee</p>
                          <h4 class="f-w-600">Women Straight Kurta</h4><span
                            class="badge badge-white rounded-pill">$100.00</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="selling-slide row">
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="left-content">
                          <p>Money back Guarrantee</p>
                          <h4 class="f-w-600">Women Straight Kurta</h4><span
                            class="badge badge-white rounded-pill">$100.00</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                      <div class="center-img"><img class="img-fluid"
                          src="{% static 'assets/images/dashboard-2/offer-shoes-3.png'%}" alt="..."></div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="right-content">
                          <p>Money back Guarrantee</p>
                          <h4 class="f-w-600">Nike Air Shoes</h4><span
                            class="badge badge-white rounded-pill">$120.55</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="selling-slide row">
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="left-content">
                          <p>Maximum Selling product</p>
                          <h4 class="f-w-600">Best Selling Product</h4><span class="badge badge-white rounded-pill">50%
                            offer</span><span class="badge badge-dotted rounded-pill ms-2">Coupon Code : 21546</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                      <div class="center-img"><img class="img-fluid"
                          src="{% static 'assets/images/dashboard-2/offer-shoes-3.png'%}" alt="..."></div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="d-flex">
                        <div class="right-content">
                          <p>Money back Guarrantee</p>
                          <h4 class="f-w-600">Nike Air Shoes</h4><span
                            class="badge badge-white rounded-pill">$120.55</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span
                  class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleCaptions"
                role="button" data-bs-slide="next"><span class="carousel-control-next-icon"
                  aria-hidden="true"></span><span class="sr-only">Next</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>