{% load static %}
{% load sass_tags %}

<div class="col-xl-4 xl-50 box-col-12">
  <div class="card">
    <div class="card-header card-no-border">
      <h5>News & Updates</h5>
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li><i class="fa fa-spin fa-cog"></i></li>
          <li><i class="view-html fa fa-code"></i></li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-refresh reload-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body new-update pt-0">
      <div class="activity-timeline">
        <div class="media">
          <div class="activity-line"></div>
          <div class="activity-dot-secondary"></div>
          <div class="media-body"><span>Update Product</span>
            <p class="font-roboto">Quisque a consequat ante Sit amet magna at volutapt.</p>
          </div>
        </div>
        <div class="media">
          <div class="activity-dot-primary"></div>
          <div class="media-body"><span>James liked Nike Shoes</span>
            <p class="font-roboto">Aenean sit amet magna vel magna fringilla ferme.</p>
          </div>
        </div>
        <div class="media">
          <div class="activity-dot-secondary"></div>
          <div class="media-body"><span>john just buy your product<i
                class="fa fa-circle circle-dot-secondary pull-right"></i></span>
            <p class="font-roboto">Vestibulum nec mi suscipit, dapibus purus.....</p>
          </div>
        </div>
        <div class="media">
          <div class="activity-dot-primary"></div>
          <div class="media-body"><span>Jihan Doe just save your product<i
                class="fa fa-circle circle-dot-primary pull-right"></i></span>
            <p class="font-roboto">Curabitur egestas consequat lorem.</p>
          </div>
        </div>
      </div>
      <div class="code-box-copy">
        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head5" title="Copy"><i
            class="icofont icofont-copy-alt"></i></button>
        <pre><code class="language-html" id="example-head5">&lt;!-- Cod Box Copy begin --&gt;
&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-header card-no-border&quot;&gt;
    &lt;h5&gt;New &amp; Updates&lt;/h5&gt;
    &lt;div class=&quot;card-header-right&quot;&gt;
      &lt;ul class=&quot;list-unstyled card-option&quot;&gt;
        &lt;li&gt;&lt;i class=&quot;fa fa-spin fa-cog&quot;&gt;&lt;/i&gt;&lt;/li&gt;
        &lt;li&gt;&lt;i class=&quot;view-html fa fa-code&quot;&gt;&lt;/i&gt;&lt;/li&gt;
        &lt;li&gt;&lt;i class=&quot;icofont icofont-maximize full-card&quot;&gt;&lt;/i&gt;&lt;/li&gt;
        &lt;li&gt;&lt;i class=&quot;icofont icofont-minus minimize-card&quot;&gt;&lt;/i&gt;&lt;/li&gt;
        &lt;li&gt;&lt;i class=&quot;icofont icofont-refresh reload-card&quot;&gt;&lt;/i&gt;&lt;/li&gt;
        &lt;li&gt;&lt;i class=&quot;icofont icofont-error close-card&quot;&gt;&lt;/i&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-body new-update pt-0&quot;&gt;
    &lt;div class=&quot;activity-timeline&quot;&gt;
      &lt;div class=&quot;media&quot;&gt;
        &lt;div class=&quot;activity-line&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;activity-dot-secondary&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;media-body&quot;&gt;&lt;span&gt;Updated Product&lt;/span&gt;
          &lt;p class=&quot;font-roboto&quot;&gt;Quisque a consequat ante Sit amet magna at volutapt.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;media&quot;&gt;
        &lt;div class=&quot;activity-dot-primary&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;media-body&quot;&gt;&lt;span&gt;You liked James products&lt;/span&gt;
          &lt;p class=&quot;font-roboto&quot;&gt;Aenean sit amet magna vel magna fringilla ferme.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;media&quot;&gt;
        &lt;div class=&quot;activity-dot-secondary&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;media-body&quot;&gt;&lt;span&gt;James just like your product&lt;i class=&quot;fa fa-circle circle-dot-secondary pull-right&quot;&gt;&lt;/i&gt;&lt;/span&gt;
          &lt;p class=&quot;font-roboto&quot;&gt;Vestibulum nec mi suscipit, dapibus purus.....&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;media&quot;&gt;
        &lt;div class=&quot;activity-dot-primary&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;media-body&quot;&gt;&lt;span&gt;Jihan Doe just like your product&lt;i class=&quot;fa fa-circle circle-dot-primary pull-right&quot;&gt;&lt;/i&gt;&lt;/span&gt;
          &lt;p class=&quot;font-roboto&quot;&gt;Curabitur egestas consequat lorem.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
      </div>
    </div>
  </div>
</div>