{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/photoswipe.scss' %}">
<!-- Plugins css Ends-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/custom.css' %}">

{% endblock %}

{% block content %}

<div class="page-body">
      {% include "layout/breadcrumb.html" %}
      <div class="container-fluid">
            {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
            <div class="row">
                  <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
            <div class="row">

                                    <h5 class="col-md-3">Violations Gallery</h5>
                                    <div class="col-md-3">
                                          <form method='POST'>{% csrf_token %}

                                          <div class="mb-3">
                                              <label class="form-label">Start Date</label>
                                              <input class="form-control" type="date" placeholder="start date"  name='start'>
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-3">
                                          <div class="mb-3">
                                              <label class="form-label">End Date</label>
                                              <input class="form-control" type="date" placeholder="end date" name='end' >
                                          </div>
                                      </div>
                                      <div class="col-sm-6 col-md-3 search-btn">
                                          <button class="btn btn-primary" type="submit">Filter Date</button>
                                          </form>
                                    </div>
                                    </div>
                              </div> 

                              <div class="my-gallery card-body row gallery-with-description" itemscope="">
                                    {% include "images/components/card.html" %}



                              </div>
                              <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                                    <div class="pswp__bg"></div>
                                    <!-- Slides wrapper with overflow:hidden.-->
                                    {% include "images/components/pswd.html" %}

                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

<style>
.search-btn {
      display: flex;
      align-items: flex-end;
      padding-bottom: 18px;
      }
</style>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/photoswipe/photoswipe.min.js'%}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe-ui-default.min.js'%}"></script>
<script src="{% static 'assets/js/photoswipe/photoswipe.js'%}"></script>
<script src="{% static 'assets/js/tooltip-init.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}