{% extends 'base.html' %}

{% load static %}
{% load sass_tags %}

{% block css %}
<!-- Plugins css start-->
<!-- Plugins css Ends-->
{% endblock %}

{% block content %}

<div class="page-body">
    {% include "layout/breadcrumb.html" %}
    <div class="container-fluid">

        {% include "applications/email/email-application/components/email-left.html" %}
        {% include "applications/email/email-application/components/email-right.html" %}

    </div>
</div>

{% endblock %}

{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/editor/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'assets/js/editor/ckeditor/adapters/jquery.js'%}"></script>
<script src="{% static 'assets/js/email-app.js'%}"></script>
<!-- Plugins JS Ends-->
{% endblock %}