/**=====================
    25. Authentication CSS Start
==========================**/

.login-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: url("../images/login/login_bg.jpg");
  background-position: center;
  padding: 30px 12px;

  .logo {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-showcase {
    .btn {
      line-height: 1;
      padding: 10px 15px;
      margin: 0;

      &+.btn {
        margin-left: 5px;
      }

      svg {
        height: 16px;
        vertical-align: bottom;
      }
    }
  }

  .login-main {
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
    margin: 0 auto;
    background-color: $white;
  }
}

.show-hide {
  position: absolute;
  top: 52px;
  right: 20px;
  transform: translateY(-50%);

  span {
    cursor: pointer;
    font-size: 13px;
    color: var(--theme-deafult);

    &.show {
      &:before {
        content: "show";
      }
    }

    &:before {
      content: "hide";
    }
  }
}

.login-form {
  &.theme-login-form {
    input {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid $light-gray;
      padding: 10px;
      border-radius: 0.25rem;

      &:focus,
      &:focus-visible {
        outline-color: $light-semi-gray;
      }
    }

    label {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    p {
      margin-top: 50px;
      font-size: 15px;
    }

    .btn-margin {
      margin-bottom: 0px;
    }

    .d-flex {
      display: flex;

      >div {
        padding: 0px 10px;
      }
    }

    .form-group {
      margin-bottom: 0px;

      &.opt-margin {
        margin-top: 20px;
      }

      .btn {
        &.btn-primary {
          float: right;
          border-radius: 0.25rem;
          color: $white;
        }
      }

      &.d-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
      }
    }

    .input-group {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;

      .input-group-text {
        position: absolute;
        padding: 8px 15px;
        text-align: center;
      }

      input {
        padding-left: 50px;
      }
    }
  }
}

.login-form {
  padding: 30px;
  width: 450px;
  background-color: $white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  h4 {
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 22px;
  }

  h6 {
    font-size: 14px;
    margin-bottom: 20px;
    color: $light-text;
    margin-top: 5px;
  }

  .btn {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: auto;
    display: block;
  }

  p {
    font-weight: 600;
    text-align: center;
    margin-bottom: unset;
  }

  .form-group {
    position: relative;

    label {
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .input-group-text {
      background-color: rgba($primary-color, 0.1);
      border: none;
      color: $primary-color;
    }

    input {
      transition: all 0.3s ease;
    }

    .form-control {
      &::placeholder {
        font-weight: 400;
      }

      &:focus {
        box-shadow: none;
      }
    }

    .checkbox {
      display: inline-block;

      label {
        padding-top: 0;
        margin-top: 0;
        color: $light-text;

        span {
          color: rgba($primary-color, 0.5);
        }
      }
    }

    .link {
      float: right;
      font-weight: 500;
      padding-left: 5px;
    }

    .small-group {
      display: flex;
      align-items: center;

      .input-group {
        &:nth-child(n + 2) {
          margin-left: 10px;
        }
      }
    }
  }

  ul.login-social {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: rgba($primary-color, 0.08);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      a {
        line-height: 1;

        svg {
          width: 16px;
          height: auto;
        }
      }

      &:nth-child(n + 2) {
        margin-left: 10px;
      }
    }
  }

  .login-social-title {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $light-text;
      z-index: -1;
    }

    h5 {
      font-weight: 600;
      font-size: 16px;
      color: $light-text;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $white;
    }
  }
}

.needs-validation {
  .invalid-feedback {
    color: $dark-gray;
  }

  .show-hide {
    right: 30px;
  }

  .invalid-tooltip {
    top: 10px;
    right: 10px;
  }
}

/**=====================
    25. Authentication CSS Ends
==========================**/