{% load static %} {% load sass_tags %}

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form theme-form">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>CCTV Name</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Ex. Front Gate *"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>IP Address</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Ex. 192.168.1.1"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>CCTV Details</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Ex. TP-Link 4MP"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>Other Details</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea4"
                  rows="3"
                  placeholder='Ex. "Front Gate CCTV" At CVSU'
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text-end">
                <a class="btn btn-success me-3" href="/projects">Add</a
                ><a class="btn btn-danger" href="#">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
