{% load static %}
{% load sass_tags %}

<tr>
  <td><img src="{% static 'assets/images/ecommerce/product-table-6.png'%}" alt=""></td>
  <td>
    <a href="/product_page">
      <h6> White Lipstick </h6>
    </a>
    <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
  </td>
  <td>$10</td>
  <td class="font-primary">Low Stock</td>
  <td>2011/04/25</td>
  <td>
    <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Delete</button>
    <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Edit</button>
  </td>
</tr>
<tr>
  <td><img src="{% static 'assets/images/ecommerce/product-table-1.png'%}" alt=""></td>
  <td>
    <a href="/product_page">
      <h6> light Lipstick </h6>
    </a>
    <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
  </td>
  <td>$10</td>
  <td class="font-danger">out of stock</td>
  <td>2011/04/25</td>
  <td>
    <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Delete</button>
    <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Edit</button>
  </td>
</tr>
<tr>
  <td><img src="{% static 'assets/images/ecommerce/product-table-2.png'%}" alt=""></td>
  <td>
    <a href="/product_page">
      <h6> Gliter Lipstick </h6>
    </a>
    <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
  </td>
  <td>$10</td>
  <td class="font-danger">out of stock</td>
  <td>2011/04/25</td>
  <td>
    <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Delete</button>
    <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Edit</button>
  </td>
</tr>
<tr>
  <td><img src="{% static 'assets/images/ecommerce/product-table-3.png'%}" alt=""></td>
  <td>
    <a href="/product_page">
      <h6> green Lipstick </h6>
    </a>
    <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
  </td>
  <td>$10</td>
  <td class="font-success">In Stock</td>
  <td>2011/04/25</td>
  <td>
    <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Delete</button>
    <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Edit</button>
  </td>
</tr>
<tr>
  <td><img src="{% static 'assets/images/ecommerce/product-table-4.png'%}" alt=""></td>
  <td>
    <a href="/product_page">
      <h6> Yellow Lipstick </h6>
    </a>
    <p>Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens</p>
  </td>
  <td>$10</td>
  <td class="font-danger">out of stock</td>
  <td>2011/04/25</td>
  <td>
    <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Delete</button>
    <button class="btn btn-success btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
      title="">Edit</button>
  </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<!-- Individual column searching (text inputs) Ends-->
</div>