{% load static %} {% for idx in images %}
<figure class="col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
  <a
    href="static/assets/violations/{{ idx.filename }}"
    itemprop="contentUrl"
    data-size="1600x950"
    ><img
      src="static/assets/violations/{{ idx.filename }}"
      itemprop="thumbnail"
      alt="Image description"
      style="object-fit: cover; width: 100%; height: 250px"
    />
    <div class="caption">
      {% comment %}
      <h4>Portfolio Title</h4>
      {% endcomment %}
      <p>{{idx.created}} PHT</p>
      <p>{{idx.source_id.camera_name}}</p>
    </div>
  </a>
  <figcaption itemprop="item description">
    <h4>{{idx.created}} UTC</h4>
    <form method="POST" action="/delete_image/{{idx.id}}">
      {% csrf_token %}
      <button class="pswp__button pswp__button--delete" title="Delete"></button>
    </form>
    <form method="POST" action="/recognize/{{idx.id}}">
      {% csrf_token %}
      <button class="pswp__button pswp__button--search" title="Delete"></button>
    </form>
  </figcaption>
</figure>
{% endfor %}
